---

---

<section
  id="problema"
  aria-label="El problema, claro y en 20 segundos"
  class="pb-5 pt-5 sm:pb-5 md:pt-5 lg:py-5"
>
    <h2 class="text-3xl lg:text-4.5xl  xl:text-5.5xl font-bold lg:tracking-tight xl:tracking-tighter">
      <span class="text-black">¿Cómo logramos que los estudiantes usen la lectura para</span>
      <span class="text-indigo-700 italic">resolver problemas reales </span>
        en un mundo de redes sociales e información instantánea?
    </h2>

    <div class="mt-8">
      <h3 class="text-2xl lg:text-3.5xl  xl:text-4.5xl font-semibold text-black">Diferencia clave</h3>
      <ul role="list" class="mt-4 space-y-3">
        <li class="flex">
          ✔️
          <span class="ml-4">
            <strong class="text-indigo-700">Competencia lectora</strong>: aplicar lo leído en contextos reales.
          </span>
        </li>
        <li class="flex">
          <span class="ml-9.5">
            <strong >Comprensión lectora</strong>: interpretar (literal, inferencial, crítico).
          </span>
        </li>

      </ul>
    </div>

    <p class="mt-8">
      Hoy no basta con “entender” un texto: los estudiantes deben <strong class="text-indigo-700">usar</strong> lo que leen para tomar decisiones,
      resolver problemas y contrastar información en entornos saturados de contenidos rápidos.
      Desarrollar <strong class="text-indigo-700">competencia lectora</strong> potencia el pensamiento crítico, la creatividad y la toma de decisiones informadas
      dentro y fuera del aula.
    </p>
</section>
