---
---


<div class="mt-24">
  <h2 class="text-center text-slate-500">La educación nos acerca a Dios</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <img src="images/CCDPOETH-2.png" alt="Logo Colegio comercial de palmira OETH" class="size-12 md:size-20"/>
    <img src="images/CLASF-2.png" alt="Logo Colegio los Angeles San Fernando" class="size-12 md:size-20"/>
    <img src="images/CMAR-2.png" alt="Logo Colegio Mayor Alferez Real" class="size-12 md:size-20"/>
    <img src="images/FMHMDT-2.png" alt="Logo fundación Mercedes Herrera Mora de Tenorío" class="size-12 md:size-20"/>
  </div>
</div>