---
interface Props {
  title: string;
  content: string;
}

const { title, content } = Astro.props;

import Footer from "@/components/footer.astro";
import Navbar from "@/components/navbar.astro";

import "@/styles/global.css"
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="description" content={content}/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-indigo-50">
    <Navbar/>
		<slot/>
    <Footer/>
    <style is:global>
      img {
        content-visibility: auto;
      }
    </style>
	</body>
</html>