---
export interface Props {
  label?: string
  class?: string
}
const { label = 'Placeholder', class: className = '' } = Astro.props
---

<div
  class={`relative h-full rounded-xl border border-amber-200 bg-amber-50 shadow-xl  ${className}`}
  aria-label={label}
>
  <!-- “Pantalla” ficticia -->
  <div class="h-72 sm:h-96 lg:h-[28rem] w-full overflow-hidden rounded-lg">
    <div class="h-full w-full  bg-[length:24px_24px]">
      <div class="relative h-full w-full"><slot />
    </div>
  </div>
</div>
